@font-face {
    font-family: easports;
    src: url("/fonts/easports.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    overflow: hidden;
}
/* header {
    text-align: center;
    height: 20px;
    margin-top: 300px;
} */

.wachtwoord {
    font-family: easports;
}

.password {
    font-family: easports;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 10px;
}

.submit {
    font-family: easports;
    background-color: transparent;
    cursor: pointer;
    border-color: transparent;
    font-size: 20px;
    margin-top: 20px;
}

.header {
    background-color: grey;
    padding: 100px;
    margin-bottom: 100px;
    text-align: center;
    margin-top: 150px;
    width: 300px;
    height: 90px;
    margin-left: 700px;
    border-radius: 20px;
    font-size: 25px;
}

.footer {
    background-color: grey;
    width: 300px;
    text-align: center;
    font-size: 25px;
    padding: 100px;
    height: 200px;
    border-radius: 20px;
    margin-left: 700px;
    margin-top: 50px;
}

.myName {
    font-family: easports;
}

.submitName {
    font-family: easports;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.name {
    font-family: easports;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 10px;
}

.naam {
    font-family: easports;
    margin-top: 70px;
}

@media screen and (max-width: 600px) {
    .footer,.header {
        display: inline-block;
        padding: 30px;
        font-size: 20px;
        margin-right: 20px;
        overflow: hidden;
        justify-items: left;
        content: left;
        float: right;
        color: black;
    }
}