body {
    background-color: grey;
    cursor: default;
    overflow: hidden;
}


.sidebar-two {
    width: 100px;
    float: left;
    height: 100vh;
}

.info {
    font-size: 25px;
    font-weight: bold;
    margin-right: 100px;
    gap: 30px;
}

.home:hover,
.aboutme:hover,
.projects:hover,
.contact:hover {
    opacity: 1;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
    color: white;
}

.home,
.aboutme,
.projects,
.contact {
    color: white;
}

.portfolio {
    height: 100vh;
}

.arda {
    font-size: 60px;
    letter-spacing: 10px;
    background-color: grey;
    font-weight: 600;
}

.intro {
    font-size: 20px;
    margin-top: 300px;
}

.img {
    height: 300px;
    width: 600px;
    margin-top: 370px;
    margin-left: 300px;
}

.about-me {
    font-size: 50px;
}

.title-aboutme {
    font-size: 80px;
    letter-spacing: 20px;
    background-color: grey;
    font-weight: 500;
}

.text-aboutme {
    width: 605px;
    margin-top: 30px;
    font-size: 15px;
}

.progress-bar-html {
    background-color: #ff9800;
}

.progress-bar-css {
    background-color: #03a9f4;
}

.progress-bar-bootstrap {
    background-color: #8bc34a;
}

.progress-bar-javascript {
    background-color: #e91e63;
}

.progress {
    border-radius: 10px;
    margin-top: 10px;
    font-size: 10px;
    background-color: lightgrey;
    height: 40px;
    margin-left: 200px;
    width: 500px;
}

.bar {
    margin-top: 270px;
    margin-left: 580px;
}

.arda:hover {
}