body {
    background-color: grey;
    cursor: default;
    overflow-x: hidden;
    overflow-y: scroll;
}


.sidebar-two {
    width: 100px;
    float: left;
    height: 100vh;
}

.info {
    font-size: 25px;
    font-weight: bold;
    margin-right: 100px;
    gap: 30px;
}

.home:hover,
.aboutme:hover,
.projects:hover,
.contact:hover {
    opacity: 1;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
    color: white;
}

.home,
.aboutme,
.projects,
.contact {
    color: white;
}

.portfolio {
    height: 100vh;
}

.arda {
    font-size: 60px;
    letter-spacing: 10px;
    background-color: grey;
    font-weight: 600;
}

.intro {
    font-size: 20px;
    margin-top: 300px;
}


.title-aboutme {
    font-size: 80px;
    letter-spacing: 20px;
    background-color: grey;
    font-weight: 500;
    margin-top: 70px;
}

.progress-bar-html {
    background-color: #ff9800;
}

.about-me {
    scroll-margin-top: 10px;
}

.progress-bar-css {
    background-color: #03a9f4;
}

.progress-bar-bootstrap {
    background-color: #8bc34a;
}

.progress-bar-javascript {
    background-color: #e91e63;
}

.progress {
    border-radius: 10px;
    font-size: 10px;
    background-color: lightgrey;
    height: 40px;
    margin-top: 10px;
    width: 800px;
}

.bar {
    margin-top: 400px;
}

.p-project {
    font-size: 70px;
    letter-spacing: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 200px 200px 200px 100px;
    grid-template-rows: repeat(12, 40px);
}

.header {
    grid-row: 8;
    grid-column: 3;
}

.labels {
    font-size: 35px;
}

.inputs {
    font-size: 20px;
    width: 500px;
}

.sidebar {
    grid-row: 7;
    grid-column: 8;
}


.nav {
    width: 1150px;
    height: 100px;
    position: absolute;
}

.send-email {
    height: 400px;
    width: 600px;
}

.fix-image {
    height: 260px;
}

.header-about {
    grid-row: 5;
    grid-column: 6;
    width: 1000px;
    border: 2px solid black;
    height: 90px;
    border: none;
    border-bottom: 2px solid black;
}

.about-portfolio {
    font-size: 50px;
    letter-spacing: 20px;
    background-color: grey;
    font-weight: 500;
}

.kleuren-schema {
    grid-row: 8;
    grid-column: 6;
}

.sitemap {
    grid-row: 8;
    grid-column: 6;
    margin-left: 350px;
}

.inspiration {
    margin-left: 700px;
    grid-row: 8;
    grid-column: 6;
}